@font-face {
    font-family: 'Poppins';
    src: url('../../../assets/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: "Poppins" !important;
}
